<nz-modal [nzBodyStyle]="{'padding': '0'}" nzCentered nzClosable="false" [nzFooter]="null" nzWidth="250px"
  [(nzVisible)]="modalVisible" (nzOnCancel)="onCancelClick()">
  <ng-container *nzModalContent>
    <div class="alert-modal">
      <div class="alert-modal__title">
        <p>{{ title }}</p>
      </div>
      <div class="alert-modal__content">
        <p>{{ content }}</p>
      </div>
    </div>
    <div class="alert-modal__footer">
      <ng-container *ngFor="let button of buttons">
        <ng-container *ngIf="button.url">
          <!-- If button.url has a URL, display the link button -->
          <button class="alert-modal__button" [routerLink]="button.url"
            [ngClass]="{'alert-modal__button--primary': button.type === 'primary'}">{{ button.text }}</button>
        </ng-container>
        <ng-container *ngIf="!button.url">
          <!-- If button.url is an empty string or null, only display the close button -->
          <button class="alert-modal__button" [ngClass]="{'alert-modal__button--primary': button.type === 'primary'}"
            (click)="onCancelClick()">{{ button.text }}</button>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</nz-modal>
