<nz-modal [nzBodyStyle]="{'padding': '0'}" nzCentered nzClosable="false" [nzFooter]="null" nzWidth="250px"
  [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div class="alert-modal">
      <div class="alert-modal__title">
        <p>{{ title }}</p>
      </div>
      <div class="alert-modal__content">
        <p>{{ content }}</p>
      </div>
    </div>
    <div class="alert-modal__footer">
      <button (click)="handleOk()" class="alert-modal__button">關閉</button>
      <button (click)="handleOk()" class="alert-modal__button alert-modal__button--primary">前往設定</button>
    </div>
  </ng-container>
</nz-modal>
