<div>

  <div class="login-title">會員登入</div>

  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="請輸入6-20碼英數符號">
        <nz-input-group>
          <input class="login-input" nzBorderless type="text" nz-input formControlName="userName" placeholder="請輸入使用者名稱" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="請輸入8-12碼英數符號">
        <nz-input-group>
          <input class="login-input" nzBorderless type="password" nz-input formControlName="password" placeholder="請輸入密碼" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>記住登入帳號</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登入</button>
    Or
    <a>register now!</a>
  </form>

</div>


