<div class="page-container">
  <div class="page-title">會員登入</div>
  <!-- Login Form -->
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitLoginForm()">

    <!-- Account -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="loginFormErrors.account">
        <nz-input-group [nzAddOnAfter]="accountIconTemplate">
          <input class="login-input" nzBorderless [type]="accountVisible ? 'text' : 'password'" nz-input
            formControlName="account" placeholder="請輸入帳號" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- User Name -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="loginFormErrors.userName">
        <nz-input-group [nzAddOnAfter]="userNameIconTemplate">
          <input class="login-input" nzBorderless [type]="userNameVisible ? 'text' : 'password'" nz-input
            formControlName="userName" placeholder="請輸入使用者名稱" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Password -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="loginFormErrors.password">
        <nz-input-group [nzAddOnAfter]="passwordIconTemplate">
          <input class="login-input" nzBorderless [type]="passwordVisible ? 'text' : 'password'" nz-input
            formControlName="password" placeholder="請輸入密碼" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Form Icon Template -->
    <ng-template #accountIconTemplate>
      <div class="input-icon">
        <span nz-icon [nzType]="accountVisible ? 'eye-invisible' : 'eye'" nzTheme="fill" style="color: #848583"
          (click)="accountVisible = !accountVisible"></span>
        <span (click)="showModal('accountReminder')" nz-icon nzType="info-circle" nzTheme="outline"
          style="color: #62ceea"></span>
      </div>
    </ng-template>
    <ng-template #userNameIconTemplate>
      <div class="input-icon">
        <span nz-icon [nzType]="userNameVisible ? 'eye-invisible' : 'eye'" nzTheme="fill" style="color: #848583"
          (click)="userNameVisible = !userNameVisible"></span>
        <span (click)="showModal('userNameReminder')" nz-icon nzType="info-circle" nzTheme="outline"
          style="color: #62ceea"></span>
      </div>
    </ng-template>
    <ng-template #passwordIconTemplate>
      <div class="input-icon">
        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" nzTheme="fill" style="color: #848583"
          (click)="passwordVisible = !passwordVisible"></span>
        <span nz-icon nzType="info-circle" nzTheme="outline" style="color: #FFFFFF"></span>
      </div>
    </ng-template>

    <!-- Link & Button -->
    <div nz-row class="login-form-margin login-form-link-row">
      <div>
        <label nz-checkbox formControlName="remember">
          <span class="login-form-text--default">記住登入帳號</span>
        </label>
      </div>
      <div>
        <a class="text-link">設定簡易登入<span nz-icon nzType="caret-right" nzTheme="fill"></span></a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin login-form-button--primary"
      [nzType]="'primary'">登入</button>
    <button routerLink="/change-username" nz-button
      class="login-form-button login-form-margin login-form-button--default" [nzType]="'default'">我要設定使用者名稱</button>
    <div class="login-form-link-row">
      <a class="text-link" href="https://test.com/register" target="_blank">我要註冊<span nz-icon nzType="caret-right"
          nzTheme="fill"></span></a>
      <a class="text-link" routerLink="/forgot-username-or-password">忘記使用者名稱或密碼<span nz-icon nzType="caret-right"
          nzTheme="fill"></span></a>
    </div>

  </form>
</div>

<!-- Shared Component -->
<app-alert-modal></app-alert-modal>
