<div>

  <div class="page-title">會員登入</div>

  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="loginFormErrorTips.account">
        <nz-input-group [nzAddOnAfter]="accountIconTemplate">
          <input class="login-input" nzBorderless [type]="accountVisible ? 'text' : 'password'" nz-input formControlName="account" placeholder="請輸入帳號" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="loginFormErrorTips.userName">
        <nz-input-group [nzAddOnAfter]="userNameIconTemplate">
          <input class="login-input" nzBorderless [type]="userNameVisible ? 'text' : 'password'" nz-input formControlName="userName" placeholder="請輸入使用者名稱" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="loginFormErrorTips.password">
        <nz-input-group [nzAddOnAfter]="passwordIconTemplate">
          <input class="login-input" nzBorderless [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="請輸入密碼" />
        </nz-input-group>

        <ng-template #accountIconTemplate>
          <div class="input-icon">
            <span
            nz-icon
            [nzType]="accountVisible ? 'eye-invisible' : 'eye'"
            nzTheme="fill"
            style="color: #848583"
            (click)="accountVisible = !accountVisible"
          ></span>
          <span (click)="showAlertModal('accountReminder')" nz-icon nzType="info-circle" nzTheme="outline" style="color: #62ceea"></span>
          </div>
        </ng-template>

        <ng-template #userNameIconTemplate>
          <div class="input-icon">
            <span
            nz-icon
            [nzType]="userNameVisible ? 'eye-invisible' : 'eye'"
            nzTheme="fill"
            style="color: #848583"
            (click)="userNameVisible = !userNameVisible"
          ></span>
          <span (click)="showAlertModal('userNameReminder')" nz-icon nzType="info-circle" nzTheme="outline" style="color: #62ceea"></span>
          </div>
        </ng-template>

        <ng-template #passwordIconTemplate>
          <div class="input-icon">
            <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            nzTheme="fill"
            style="color: #848583"
            (click)="passwordVisible = !passwordVisible"
          ></span>
          <span nz-icon nzType="info-circle" nzTheme="outline" style="color: #FFFFFF"></span>
          </div>
        </ng-template>

      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span class="login-form-remember-text">記住登入帳號</span>
        </label>
      </div>
      <!-- <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div> -->
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot text-link">設定簡易登入<span nz-icon nzType="caret-right" nzTheme="fill"></span></a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin blue-btn" [nzType]="'primary'">登入</button>
    <button routerLink="/change-username" nz-button class="login-form-button login-form-margin grey-btn" [nzType]="'default'">我要設定使用者名稱</button>
    <div class="login-form-other-links">
      <a class="text-link">我要註冊<span nz-icon nzType="caret-right" nzTheme="fill"></span></a>
      <a class="text-link" routerLink="/forgot-username-or-password">忘記使用者名稱或密碼<span nz-icon nzType="caret-right" nzTheme="fill"></span></a>
    </div>
  </form>

</div>

<app-alert-modal></app-alert-modal>
