.login-title {
  font-size: 1.7rem;
  padding: 8px 0px 22px;
  color: rgb(110,144,170);
}

.ant-input-affix-wrapper.login-input {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 0;
  padding-left: 0;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
