<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            [nzCollapsedWidth]="0"
            nzTheme="light">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/images/mitake_logo.jpg" alt="logo">
        <h1>會員登入</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="選單一" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">測試</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>測試</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>測試</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="選單二" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>測試</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               nzType="menu"
            ></span>
        </span>
        <span *ngIf="isCollapsed" class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span>會員登入</span>
      </span>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
