<nz-layout class="app-layout">

  <!-- Sider -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" [nzCollapsedWidth]="0" nzTheme="light">
    <div class="sidebar-logo">
      <a href=".">
        <img src="./assets/images/mitake_logo.jpg" alt="logo">
        <h1>三竹測試系統</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="會員中心" nzIcon="profile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/login" (click)="headerTitle = '會員登入'">會員登入</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/change-username">設定使用者名稱</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/change-password">設定新密碼</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/forgot-username-or-password">忘記使用者名稱或密碼</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>

    <!-- Header -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed" nz-icon nzType="menu"></span>
        <span class="header-title" *ngIf="isCollapsed">{{ headerTitle }}</span>
      </div>
    </nz-header>

    <!-- Content -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>
