/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.page-title {
  font-size: 1.7rem;
  padding: 8px 0px 22px;
  color: #6288a3;
}


.login-form .ant-input-group-addon {
  background-color: transparent;
  border: none;
  padding-right: 0;
}
